PG_HOST=
PG_PORT=5432
PG_DB=postgres
PG_USER=postgres
PG_PASSWORD=

NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=

MONGO_URI=
MONGO_DB=

FLASK_SECRET_KEY=change-me-to-a-random-secret

KAFKA_ENABLED=true
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_QUERY_EXECUTIONS=dw.query.executions
KAFKA_TOPIC_SALES=dw.sales.transactions
KAFKA_TOPIC_SALES_INGEST=dw.sales.ingest
KAFKA_CONSUMER_GROUP=dw-sales-ingest-fanout
